<header>
    <h1>Harmony AgroTech Solutions</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/survey">Survey</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>
</header>
